.body {
    background-color: rgb(31, 30, 30); 
    color: #FFFFFF;
    font-family: Rubik, sans-serif;
}
.section {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (min-width: 480px) {
    .section{
        width: 480px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .section{
        width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .section {
        width: 1200px;
    }
}
.picture {
    position: absolute;
}
.background {
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.logo {
    width: 486px;
    height: 185px;
    left: 62px;
    top: 0px;
    z-index: 2;
}
.ball {
    width: 152px;
    height: 149px;
    left: 145px;
    top: 320px;
    z-index: 6;
}
.big-coin {
    width: 80px;
    height: 112px;
    left: 385px;
    top: 620px;
    z-index: 7;
}
.cherry {
    width: 101px;
    height: 92px;
    left: 1043px;
    top: 396px;
    z-index: 7;
}
.chip {
    position: absolute;
    width: 108px;
    height: 80px;
    left: 688px;
    top: 58px;
    z-index: 7;
}
.coin {
    width: 89px;
    height: 65px;
    left: 976px;
    top: 260px;
    z-index: 7;
}
.footballer {
    display: none;
    width: 684px;
    height: 754px;
    left: 1547px;
    top: 315px;
    z-index: 4;
}
.grape {
    width: 97px;
    height: 97px;
    left: 671px;
    top: 754px;
    z-index: 7;
}
.lemon {
    width: 117px;
    height: 113px;
    left: 942px;
    top: 630px;
    z-index: 7;
}
.man-with-ball {
    width: 663px;
    height: 663px;
    left: -8px;
    top: 110px;
    filter: drop-shadow(0px 4px 30px rgba(105, 60, 60, 0.25));
    z-index: 4;
}
.miracle {
    width: 493px;
    height: 732px;
    left: 841px;
    top: 21px;
    filter: drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.25));
    z-index: 3;
}
.percent {
    width: 491px;
    height: 161px;
    left: 400px;
    top: 379px;
    box-shadow: 0px 4px 70px 3px rgba(0, 0, 0, 0.5);
    z-index: 7;
}
.seven {
    width: 96px;
    height: 121px;
    left: 889px;
    top: 104px;
    z-index: 7;
}
.stiker {
    width: 310px;
    height: 167px;
    left: 969px;
    top: 512px;
    z-index: 5;
}
.link {
    width: 231px;
    height: 72px;
    position: absolute;
    left: 1013px;
    top: 567px;
    z-index: 7;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.site {
    font-size: 24px;
    line-height: 1.17;
}
.tenge {
    width: 744px;
    height: 227px;
    left: 302px;
    top: 184px;
    box-shadow: 0px 4px 70px 3px rgba(0, 0, 0, 0.4);
    z-index: 7;
}
.button {
    width: 443px;
    height: 100px;
    left: 499px;
    top: 654px;
    z-index: 7;

    background: linear-gradient(180deg, #FF0000 0%, #670202 100%);
    border-radius: 50px;
}
.link-site {
    position: absolute;
    width: 203px;
    height: 43px;
    left: 619px;
    top: 684px;
    z-index: 8;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.19;
    color: #FFFFFF;
    text-decoration: none;
}
.text {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.19;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 513px;
    top: 193px;
    z-index: 7;
}
.text--position {
    top: 572px;
    left: 545px;
}
